.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 15px 5px 15px 5px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 15px;
}

.blog-item-link {
  color: black;
  text-decoration: none;
  margin: 5px;
}

.details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image-div {
  width: 100%;
}

.topic-image {
  width: 100%;
  border-radius: 5px;
}

.topic-text {
  color: #8e8e8e;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0px 10px 0px;
}

.title-text {
  color: #000000;
  font-size: 23px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.author-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-div {
  display: flex;
}

.author-avatar {
  height: 50px;
  width: 50px;
  margin: 5px 5px 5px 2px;
  border-radius: 100px;
}

.author-name {
  color: #8e8e8e;
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
}

@media (min-width: 768px) {
  .blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .image-div {
    width: 10%;
    padding: 5px;
  }

  .topic-image {
    width: 200px;
    height: 250px;
    border-radius: 5px;
  }

  .details-div {
    width: 85%;
    margin: 5px;
  }

  .topic-text {
    font-size: 18px;
    margin: 10px 5px 10px 0px;
  }

  .title-text {
    font-size: 21px;
    margin: 10px 5px 10px 0px;
    padding: 5px 5px 5px 0px;
  }

  .author-name {
    font-size: 18px;
    margin: 10px 5px 10px 0px;
    padding: 5px 5px 5px 0px;
  }
}
